mixin input (label, placeholder, name, icon, mask)
    +e.input__(class=`${icon ? '_icon' : ''}`)&attributes(attributes)
        if(label)
            +e.label.p !{label}
        +e.parent
            if(icon)
                +icon(icon)
            if(placeholder)
                +e.SPAN.placeholder !{placeholder}
            +e.INPUT.field(name=name type="text" class=mask)