mixin textarea (label, placeholder, name, icon, mask)
    +e.textarea__(class=`${icon ? '_icon' : ''}`)&attributes(attributes)
        if(label)
            +e.label.p !{label}
        +e.parent
            if(icon)
                +icon(icon)
            if(placeholder)
                +e.SPAN.placeholder !{placeholder}
            +e.TEXTAREA.field(name=name class=mask)